## No need to work on final dist
dist

## Ignore external node_modules
node_modules

## Don't include intermediate TypeScript compilation
tsout

## Ignore code coverage
coverage

## Editor related
.vscode
