name: Build and Test
on: [push]

env:
  MATHWORKS_ACCOUNT: ${{ secrets.MATHWORKS_ACCOUNT }}
  MATHWORKS_TOKEN: ${{ secrets.MATHWORKS_TOKEN }}

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Perform npm tasks
        run: npm run ci
      - uses: actions/upload-artifact@v3
        with:
          name: built-action
          path: |
            **/*
            !node_modules/

  integ:
    needs: bat
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            release: latest 
            check-matlab: matlabVer = ver('matlab'); assert(~isempty(matlabVer));
            check-simulink: simulinkVer = ver('simulink'); assert(~isempty(simulinkVer));
          - os: ubuntu-20.04
            release: R2021bU2
            check-matlab: matlabVer = ver('matlab'); assert(strcmp(matlabVer.Release,'(R2021b)'));
            check-simulink: simulinkVer = ver('simulink'); assert(strcmp(simulinkVer.Release,'(R2021b)'));
          - os: windows-latest
            release: latest
            check-matlab: matlabVer = ver('matlab'); assert(~isempty(matlabVer));
            check-simulink: simulinkVer = ver('simulink'); assert(~isempty(simulinkVer));
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: built-action
      - name: Install MATLAB & Simulink (and PCT)
        uses: ./
        with:
          release: ${{ matrix.release}}
          products: |
            MATLAB
            Simulink
      - name: Check MATLAB version
        run: matlab-batch "${{ matrix.check-matlab }}"
      - name: Check Simulink version
        run: matlab-batch "${{ matrix.check-simulink }}"
      - name: Test installing second version with space separated products list
        uses: ./
        with:
          release: R2020a
          products: Simulink_Test Simulink
