name: Build and Test
on: [push]

env:
  MATHWORKS_ACCOUNT: ${{ secrets.MATHWORKS_ACCOUNT }}
  MATHWORKS_TOKEN: ${{ secrets.MATHWORKS_TOKEN }}

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Perform npm tasks
        run: npm run ci
      - uses: actions/upload-artifact@v3
        with:
          name: built-action
          path: |
            **/*
            !node_modules/

  integ:
    needs: bat
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            release: latest
            check-matlab: matlabVer = ver('matlab'); assert(~isempty(matlabVer)); simulinkVer = ver('simulink'); assert(isempty(simulinkVer));
            check-simulink: simulinkVer = ver('simulink'); assert(~isempty(simulinkVer));
          - os: ubuntu-20.04
            release: R2022a
            check-matlab: matlabVer = ver('matlab'); assert(matlabVer.Release == string('(R2022a)')); simulinkVer = ver('simulink'); assert(isempty(simulinkVer));
            check-simulink: simulinkVer = ver('simulink'); assert(simulinkVer.Release == string('(R2022a)'));
          - os: windows-latest
            release: latest
            check-matlab: matlabVer = ver('matlab'); assert(~isempty(matlabVer)); simulinkVer = ver('simulink'); assert(isempty(simulinkVer));
            check-simulink: simulinkVer = ver('simulink'); assert(~isempty(simulinkVer));
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: built-action
      - name: Install MATLAB (and PCT)
        uses: ./
        with:
          release: ${{ matrix.release}}
          products: |
            MATLAB
      - name: Check MATLAB version
        run: matlab-batch "${{ matrix.check-matlab }}"
      - name: Add Simulink to existing installation
        uses: ./
        with:
          release: ${{ matrix.release}}
          products: |
            Simulink
      - name: Check Simulink version
        run: matlab-batch "${{ matrix.check-simulink }}"
